#account {
    padding: 21px;
    overflow: hidden;
    line-height: 154%;
}

#chartArea {
    overflow: hidden;
    -moz-transition: 350ms opacity;
    -o-transition: 350ms opacity;
    -webkit-transition: 350ms opacity;
    transition: 350ms opacity;
}

    #chartArea.loading {
        opacity: 0;
    }

#account .left {
    float: left;
    width: 70%;
}

#account .right {
    float: right;
    width: 28%;
}

#chart {
    width: 100%;
    height: 490px;
}


/* Chooser */

#chooser {
    color: #333;
    text-align: center;
}

    #chooser span, #chooser input, #chooser select {
        color: #494949;
        border: 0;
    }

    #chooser span {
        padding-right: .49em;
        font-size: 1.4em;
        font-style: italic;
    }

    #chooser input, #chooser select {
        font-size: 2.1em;
    }

        #chooser input[type=number] {
            width: 3.5em;
            text-align: center;
        }

    #chooser #refresher {
        margin-left: 14px;
        background: white;
        border-radius: 7px;
        border: 1px solid #00ff77;
        color: #aaa;
        font-style: italic;
        font-size: 100%;
        cursor: pointer;
    }


/* Legend */

#legend ul {
    padding-left: 21px;
}

#legend li {
    list-style: none;
    padding-bottom: .7em;
}

#legend span:not(.info) {
    position: absolute;
    display: inline-block;
    margin-top: 2px;
    margin-left: -21px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    color: #333;
}

#legend span.info {
    display: block;
    padding-top: 3px;
    color: #777;
}


@media screen and (max-width: 700px), (max-aspect-ratio: 1/1) {
    #account {
        text-align: center;
    }

        #account .left, #account .right {
            float: none;
            width: auto;
        }
}
